{% extends "sub/struct.html" %}
{% load static %}
{% block content %}


    
    {% comment %} -----------------------------home------------------------ {% endcomment %}
    
<main>
    <section class="firstSection">
        <div class="leftSection">
            Hi.., <br> My name is <span class="purple">Ganesh</span>
            <br>I am a passionate <br>

            <span id="element"></span>
            <br>
            <dic class="buttons">
                <button class="btn">Download Resume</button>
                <button class="btn">Visit Github</button>
            </dic>
        </div>
        <div class="rightSection">
            <img src="{% static "./dev.png" %}" alt="">
        </div>
    </section>
</main>
    
    {% endblock content %}



  



  
