{% extends "sub/struct.html" %}
{% block content %}

    {% comment %} <!-- -------------services-------------- --> {% endcomment %}

    <div id="services">
        <div class="container">
            <h1 class="sub-title">My Services</h1>
            <div class="services-list">
                <div>
                    <i class="fa-solid fa-code"></i>
                    <h2>Web Development</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias fugiat vel incidunt sunt saepe ipsum rerum maiores temporibus, labore tempore.</p>
                    <a href="#">lorem more</a>
                </div>
                <div>
                    <i class="fa-solid fa-code"></i>
                    <h2>Web Development</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias fugiat vel incidunt sunt saepe ipsum rerum maiores temporibus, labore tempore.</p>
                    <a href="#">lorem more</a>
                </div>
                <div>
                    <i class="fa-solid fa-code"></i>
                    <h2>Web Development</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias fugiat vel incidunt sunt saepe ipsum rerum maiores temporibus, labore tempore.</p>
                    <a href="#">lorem more</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}


